
  .seller-content {
    text-align: center;
    padding-top: 2rem;
  }


  .catagery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 2rem;
    flex-wrap: wrap;
  }
  .catagery-list{
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    list-style: none;

  }
  .catagery-list a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out; 


  }

  .catagery-list a:hover::after {
    width: 100%; 
}

.catagery-list li{
  position: relative;
  
}

  .catagery-list a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    
    
    
  }
  .view-collection-button{
    padding-top: 2rem;
  }
  
