.best-value {
    margin-top: 3rem;
    background-color: rgba(240,248, 255, 0.5);
    padding: 3rem 0;
    min-height: 500px;
}

.best-value-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jwellery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.jwellery-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.jwellery-box{
    
  width: 300px;
  height: 300px;
  background-color: #f8f9fa;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.jwellery-box:hover{
    transform: translateY(-10px);
}

/* Hover effect */
.jwellery-box:hover .jwellery-img:hover {
    transform: scale(1.1); /* Slightly enlarges the image */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #f0f0f0; */
}
